.resources-gallery {
  background: $black;
  color: $white;
  padding: 4rem 0;

  &-pager {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    > div {
      display: flex;
      align-items: center;
    }

    .show-me {
      display: block;
      font-family: $secondary-font;
      font-size: 12px;
      font-weight: $bold;
      color: $white;
      padding-right: 1rem;
    }
  }

  .facetwp-facet-pagination {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;

    .facetwp-pager {
      font-size: 1.45rem;
      display: flex;
      align-items: center;

      .fal {
        font-size: 1.9rem;
        font-weight: 400;
      }
      .facetwp-page.prev {
        margin-right: 1rem;
      }
      .facetwp-page.next {
        margin-left: 1rem;
      }
      .facetwp-page:not(.prev):not(.next) {
        color: $black;
        border: 1px solid $white;
        border-radius: 100%;
        height: 1rem;
        width: 1rem;
        font-size: 0;
        margin: 0 .5rem;
        &.active {
          background: $white;
        }
      }
      
    }
  }

  .facet-reset {
    border: none;
    display: inline-block;
    font-family: $secondary-font;
    font-size: 12px !important;
    font-weight: $bolder;
    letter-spacing: 0.12em;
    margin: 0 0 0 .85rem;
    padding: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    background: $white !important;
    color: $black;
    border: 1px solid $white;

    &:hover {
      cursor: pointer;
    }

    &.inactive {
      background: none !important;
      color: $white;
    }
  }

  .facetwp-template {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .facetwp-checkbox {
    background: $black !important;
    border: 1px solid $white !important;
    border: none;
    color: $white;
    display: inline-block;
    font-family: $secondary-font;
    font-size: 12px !important;
    font-weight: $bolder;
    letter-spacing: 0.12em;
    margin: 0 .85rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background: $white !important;
      color: $black;
      border: 1px solid $white;
    }
  }

  .facetwp-checkbox.checked {
    background: $white !important;
    color: $black;
    border: 1px solid $white;
  }

  .facetwp-facet-resources {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }

  .facetwp-counter {
    display: none;
  }

  .post {
    margin-bottom: 3rem;
    display: block;

    .featured-img {
      height: 200px;
      margin-bottom: 2rem;
      position: relative;
      overflow: hidden;
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: .4s ease;
      }
    }

    &:hover {
      text-decoration: none;

      .featured-img {
        img {
          transform: scale(1.08);
        }
      }
    }

    .cta {
      display: block;
      margin: 8px 0;
      text-transform: uppercase;
      font-weight: $bolder;
      text-decoration: underline;
      text-underline-offset: 0.65em;
      text-decoration-thickness: 1px;
    }
  }
}
