.nav-tab {
  &:not(:last-child) {
    margin-right: 2.5rem;

    @media (max-width: $large) {
      margin-right: 2rem;
    }
  }

  @media (max-width: $medium) {
    display: none;
  }

  &-footer {
    text-transform: uppercase;
    border-top: 1px solid $white;
    display: block;
    padding: 1rem 2rem 1rem 4rem;
    font-size: 0.75rem;
    font-weight: $bolder;
    margin-left: -4rem;
    margin-right: -2rem;

    &:hover {
      text-decoration: none;
      color: #8D909A;
    }
  }

  &-wrapper {
    display: flex;
    border: none;
    background: $white;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    flex-wrap: wrap;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    min-width: auto;
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 5rem;
    transition: all 0.3s ease;
    width: 100%;
    z-index: -1;

    .sub-menu {
      order: 2;
      width: 100%;
      max-width: 65%;
      padding: 2rem 2rem 1rem 2rem;
    }

    .nav-tab-highlight {
      background: $black;
      color: $white;
      order: 1;
      max-width: 35%;
      padding: 3rem 2rem 0 4rem;
      align-self: flex-start;
      min-height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-size: 1rem;
        font-family: $secondary-font;
        line-height: 32px;
        font-weight: 400;
      }
    }
  }

  > div {
    > ul {
      > li.menu-item {
        padding: 1rem .5rem 2rem .5rem;

        > a {
          color: $black;
          font-weight: $secondary-font;
          display: inline-block;
          font-size: 0.7rem;
          font-weight: $bolder;
          letter-spacing: 0.1em;
          padding: .5rem .25rem;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;

          &:before {
            content: "";
            position: absolute;
            bottom: auto;
            left: 0;
            right: 0;
            margin: 1.2rem auto 0 auto;
            width: 0%;
            border-bottom: 2px solid $black;
            transition: .3s ease-in-out;
          }

          &:after {
            content: "\f107";
            color: $black;
            display: inline-block;
            font-family: "Font Awesome 5 Pro";
            font-size: 14px;
            font-weight: 900;
            margin-right: -8px;
            margin-top: -2px;
            position: absolute;
            right: 0;
            transform-origin: center center;
            transition: .3s ease;
            top: auto;
            z-index: 1;
          }
        }

        &:hover > a:after {
          content: "\f107";
          transform: rotate(180deg);
        }

        &:hover > a:before {
          content: "";
          width: 93%;
        }

        .sub-menu {
          @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
            grid-column-gap: 1rem;

            > li {
              display: block;
              align-self: flex-start;
              padding: 12px;

              .menu-item-description {
                font-weight: $regular;
                font-size: 14px;
                font-family: $secondary-font;
                display: block;
                padding: 5px 0 0 0;
                order: 2;
              }

              > a {
                display: inline-block;
                font-size: 18px;
                font-weight: $regular;
                -webkit-font-smoothing: initial;
                line-height: 1.3rem;
                padding: .8rem 0 .25rem 0;
                transition: .3s all;
                position: relative;
                order: 1;

                &:after {
                  content: "\f054";
                  font-family: "Font Awesome 5 Pro";
                  font-weight: 900;
                  position: relative;
                  display: inline-block;
                  right: auto;
                  font-size: 11px;
                  margin-left: 6px;
                }

                &:hover {
                  color: $black;
                  text-decoration: none;
                }
              }

              &:hover {
                background: $black;
                color: $white;
                text-decoration: none;

                a {
                  color: $white;
                }
              }

              &.current_page_item {
                background: $black;
                color: $white;
              }
            }
          }
        }

        &:hover > .nav-tab-wrapper,
        &:focus > .nav-tab-wrapper {
          z-index: 10;
          opacity: 1;
          top: 6rem;
          min-height: 350px;
        }

        &.current-menu-item a, &.current-menu-parent a {
          &:before {
            content: "";
            width: 100%;
          }
        }
      }
    }
  }

  &-button {
    display: inline-block;
    padding: 1rem;
    min-width: 0;
    align-self: flex-start;
    line-height: 1;
    font-family: $secondary-font;
    font-size: .7rem;
    font-weight: $bolder;
    position: relative;
    top: .5rem;

    @media (max-width: $medium) {
      display: none;
    }

    &:hover {
      min-width: 0;
      padding: 1rem;
    }
  }

  .posts-list {
    &-row {
      display: flex;

      &:first-child {
        padding-top: 1rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }

    &-col {
      width: 100%;

      &:first-child {
        margin-right: 1.3rem;
        width: 100%;
        max-width: 145px;
      }
    }

    &-img {
      height: auto;
      width: 100%;
      display: block;

      img {
        height: 82px;
        width: 100%;
        max-width: 145px;
      }
    }

    a, h5 {
      font-family: $secondary-font;
      font-size: 0.75rem;
      font-weight: $bolder;
    }

    a:hover {
      color: #8D909A;
      text-decoration: none;
    }

    .term, .cta {
      text-transform: uppercase;
    }

    .cta {
      padding: 5px 0 0 0;
    }

    .title {
      font-size: 1rem;
      font-family: $primary-font;
      font-weight: $regular;
    }
  }
}
