button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  border-color: none;
  border-radius: 0;
  background: $black;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  letter-spacing: 0.01em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

.button {
  background: $black;
  border: 1px solid $black;
  color: $white;
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: $boldest;
  letter-spacing: 0.12em;
  min-width: 230px;
  padding: 1rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:active,
  &:focus, &:visited {
    color: $white;
  }

  &:hover {
    background: $white;
    color: $black;
    text-decoration: none;
  }

  &-secondary {
    background: rgba($white, 0.8);
    border: 1px solid $black;;
    color: $black;
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: $boldest;
    letter-spacing: 0.12em;
    min-width: 230px;
    padding: 1rem 1.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease;

    &:hover {
      color: $black;
      background: $white;
      transform: scale(1.07);
    }
    &:active, &:visited {
      color: $black;
    }
  }
}
