ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    font-size: 1.125rem;
  }
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.single .site-main .entry-content {
  ul {
    list-style: disc;
    padding: .75rem 0 1rem 2.5em;
    li {
      padding-bottom: .5rem;
    }
  }
}
