ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    font-size: 1.125rem;
  }
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.single .site-main .entry-content {
  .alignwide {
    @extend .narrow;
  }

  ul:not(.nav-pills) {
    list-style: disc;
    padding: .75rem 0 1rem 2.5em;

    & ~ h3 {
      padding-top: 2rem;
    }

    li {
      padding-bottom: 2rem;
    }
  }

  ul.timeline-tabs__tabs {
    list-style: none;
    padding: 0;

    li {
      padding: inherit;
    }
  }

  ol {
    padding-left: 2rem;

    li {
      padding-bottom: 1rem;
    }
  }
}
