.footer {
  padding: 4rem 0 0 0;
  background: $black;
  color: $white;

  &-primary {
    max-width: 440px;

    @media (max-width: $medium) {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  }

  &-branding {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $white;
    margin-bottom: 1rem;

    &-logo {
      padding-right: 1rem;
      flex: 2;

      img {
        width: 160px;
      }
    }

    &-social {
      flex: 1;
      display: flex;

      a {
        border-radius: 100%;
        border: 1px solid $white;
        width: 24px;
        height: 24px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          margin-right: 13px;
        }

        .fa {
          font-size: .8rem;
        }

        &:hover {
          background: $white;
          text-decoration: none;

          .fa {
            color: $black;
          }
        }
      }
    }
  }

  &-contact {
    border-top: 1px solid $white;
    padding: 1rem 0;

    a {
      font-family: $secondary-font;
      font-size: 12px;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    li {
      margin: 0 0 1rem 0;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: $secondary-font;
      font-weight: $bolder;
      font-size: 12px;

      &:hover {
        color: $gray-light;
      }
    }
  }

  &-content {
    border: 1px solid $white;
    padding: 3.5rem 2rem;
    text-align: center;

    h5 {
      line-height: 40px;
    }

    h6 {
      color: $white;
      padding-bottom: 1.5rem;
    }
  }

  &-legal {
    &-section {
      border-top: 1px solid #8D909A;
      margin-top: 2rem;
    }

    &-row {
      align-items: center;
      justify-content: space-around;
    }

    &-copyright {
      color: #8D909A;
      font-size: 10px;
      font-weight: $bold;
      text-transform: uppercase;
      padding: 1rem 0;
    }

    &-links {
      li {
        display: inline-block;
        line-height: 1;
        margin-right: 1rem;

        a {
          color: #8D909A;
          font-size: 10px;
          font-weight: $bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
