.gform_wrapper {
  .gform_fields {
    list-style: none;
    margin: 0;

    .gfield {
      padding-bottom: 1rem;
      font-size: 1.125rem;
    }
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background: $white;
    border: 1px solid $black;
    font-family: $secondary-font;
    font-weight: $boldest;
    font-size: 12px;
    padding: 1rem!important;
    width: 100%;
    text-transform: uppercase;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #8D909A;
  }

  textarea {
    height: 200px;
  }

  input[type="submit"] {
    border: none;
    background: $black;
    border: 1px solid $white;
    color: $white;
    min-width: 190px;
    font-family: $secondary-font;
    font-weight: $boldest;
    margin: 0;
    padding: 1.5rem;
    font-size: 12px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    min-width: 100%;


    &:hover {
      background: $white;
      color: $black;
    }
  }

  div.validation_error {
    display: none;
  }

  li.gfield.gfield_error {
    background: none !important;
    border: none !important;

    input[type="text"],
    input[type="email"],
    textarea,
    select {
      border: 3px solid red !important;
    }

    .ginput_container:after,
    .ginput_container:before {
      content: none !important;
    }
  }

  li.gfield.gfield_error,
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
  }

  .validation_message {
    color: #999 !important;
    font-style: italic;
    font-weight: 300 !important;
    background: url("./images/error.svg") left center no-repeat;
    background-size: 1rem;
    padding: .5rem 0 .5rem 1.5rem !important;
    font-size: 1rem !important;

    &.instruction {
      display: none;
    }
  }

  .gform_submission_error {
    font-size: 1.125rem;
    color: red;
  }

  .gfield_error .gfield_label {
    color: #999 !important;
  }
}

.gform_confirmation_message {
  font-size: 1.125rem;
  
  a {
    border-bottom: 1px solid $blue;
    text-decoration: none;
  }
}
