.alignwide {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .alignwide {
    padding: 0;
  }

  @media (min-width: 576px) {
    max-width: 100%;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;

    &.narrow {
      max-width: 960px;
    }
  }

  @media (min-width: 1280px) {
    max-width: 1200px;
  }
}

.wp-block-button__link.has-background {
  display: block;
  transition: .3s ease;
  text-transform: uppercase;
  font-weight: $boldest;
  font-family: $secondary-font;
  letter-spacing: 0.12em;
  padding: 1rem 1.25rem;

  &:hover {
    background: $white !important;
    color: $black !important;
    text-decoration: none;
  }
}

.wp-block-media-text__content {
  @media (max-width: $medium) {
    padding: 1rem 0 !important;
  }
}

.wp-block-spacer {
  @media (max-width: $xsmall) {
    height: 50px !important;
  }
}

.wp-block-column {
  ul {
    list-style: disc;
    padding: .75rem 0 1rem 2.5em;

    li {
      padding-bottom: .5rem;
    }
  }
}
