// Slick Slider styles

// Resources Slider
.resources-slider {
  display: flex;
  position: relative;
  margin-bottom: 2rem;

  .post {
    h4 {
      padding-bottom: .5rem;
    }

    &-image {
      display: block;
      height: 320px;
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 2rem;

      img {
        object-fit: cover;
        transition: .4s ease;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      h5 {
        text-decoration: none;
      }

      .cta {
        text-decoration: underline;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        font-family: $secondary-font;
        font-weight: $bolder;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.slick-initialized {
    visibility: visible;
    opacity: 1;
  }

  .slick-slide {
    margin: 0 2rem 0 0;
    transition: 0.3s all;
    position: relative;
    width: 100%;
    z-index: 10;

    &:focus {
      outline: none;
    }
  }

  .slick-list,
  .slick-track {
    width: 100%;
    display: flex;
  }

  .slick-list {
    padding: 0 18vw 0 0;
    overflow: hidden;

    @media (max-width: $medium) and (min-width: 0px) {
      padding: 0 9% 0 0;
    }

    @media (max-width: $small) {
      overflow: hidden;
    }
  }

  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  &__slick-arrows {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    .slick-arrow {
      background: none;
      border: 1px solid $black;
      padding: 0.25rem 0.5rem;
    }

    .next-slide {
      &:before {
        content: "\f054";
        font-family: "Font Awesome 5 Pro";
        font-size: 1.25rem;
        font-weight: 900;
        display: block;
        color: $black;
      }

      &:hover {
        &:before {
          content: "\f054";
          font-family: "Font Awesome 5 Pro";
          font-size: 1.25rem;
          font-weight: 900;
          color: $gray;
        }
      }
    }

    .prev-slide {
      color: $black;
      margin-right: 1rem;

      &:before {
        content: "\f053";
        font-family: "Font Awesome 5 Pro";
        font-size: 1.375rem;
        font-weight: 900;
        display: block;
        color: $black;
      }

      &:hover {
        &:before {
          content: "\f053";
          font-family: "Font Awesome 5 Pro";
          font-size: 1.375rem;
          font-weight: 900;
          color: $gray;
        }
      }
    }
  }
}

// Testimonials

.testimonials-slider {
  position: relative;
  margin-bottom: 3rem;

  .testimonial {
    display: block;
    padding: 0 1rem;
    max-width: 920px;
    margin: 0 auto;

    @media (max-width: $small) {
      padding: 0 3rem;
    }

    h2 {
      padding-bottom: 3rem;
    }

    h6 {
      @include section-heading;

      color: $black;
    }
  }

  .slick-slide {
    margin: 0 10px;
    position: relative;
    text-align: center;
    transition: 0.3s all;
    width: 100%;
    z-index: 10;

    &:focus {
      outline: none;
    }
  }

  .slick-list,
  .slick-track {
    width: 100%;
    display: flex;
  }

  .slick-list {
    margin: 0 -10px;
    overflow: hidden;
  }

  .slick-arrow {
    background: none;
    border-radius: 0;
    border: 1px solid $black;
    color: $black;
    font-size: 0;
    height: 1.85rem;
    margin: 0 5px;
    padding: 0;
    width: 1.5rem;

    &:hover {
      cursor: hover;
    }

    &.slick-prev {
      left: -1rem;
      position: absolute;
      top: 4rem;

      &:before {
        color: $black;
        content: "\f053";
        font-family: "Font Awesome 5 Pro";
        font-size: 1.25rem;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 900;
        width: 1rem;
      }
    }

    &.slick-next {
      right: -1rem;
      position: absolute;
      top: 4rem;

      &:before {
        color: $black;
        content: "\f054";
        display: inline-block;
        font-family: "Font Awesome 5 Pro";
        font-size: 1.25rem;
        font-weight: 900;
        width: 1rem;
      }
    }

    &:hover, &:focus {
      cursor: pointer;
      outline: none;
    }
  }

  .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    max-width: 800px;
    bottom: -1rem;
    position: absolute;

    li {
      margin: 0 6px;

      button {
        background: transparent;
        border-radius: 50%;
        border: 1px solid black;
        color: transparent;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: .75rem;
        line-height: 0;
        outline: none;
        width: .75rem;
      }

      &.slick-active {
        button {
          background: black;
        }
      }
    }
  }

  h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: normal;
    max-width: 780px;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 8rem;

    @media screen and (max-width: $small) {
      font-size: 1.25rem;
      line-height: 1.75rem;
      padding-top: 4rem;
      padding-bottom: 1rem;
    }
  }
}

// Slick Overlay

.slick-arrows-wrapper {
  width: 50vw;
  margin: 0;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 15rem;
  height: auto;

  @media (max-width: $medium) {
    display: none;
  }

  &.mobile {
    display: none;

    @media (max-width: $medium) {
      display: flex;
      position: relative;
      top: 12rem;
      width: 100%;
      padding-left: 1rem;

      button:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__main {
    margin: 1rem 0 0 4rem;
  }

  button {
    background: none;
    border-radius: 0;
    border: 1px solid $white;
    color: $white;
    font-size: 0;
    height: 2rem;
    padding: 2px;
    width: 2rem;

    &.prev, &.mobile-prev {
      margin-right: 1.5rem;

      &:before {
        color: $white;
        content: "\f053";
        font-family: "Font Awesome 5 Pro";
        font-size: 1.25rem;
        display: inline-block;
        font-size: 1rem;
        font-weight: 900;
        width: 1rem;
      }
    }

    &.next, &.mobile-next {
      &:before {
        color: $white;
        content: "\f054";
        display: inline-block;
        font-family: "Font Awesome 5 Pro";
        font-size: 1rem;
        font-weight: 900;
        width: 1rem;
      }
    }

    &:hover {
      cursor: pointer;
      background: $white;
      outline: none;

      &.next {
        &:before {
          content: "\f054";
          color: $black;
        }
      }

      &.prev {
        &:before {
          color: $black;
          content: "\f053";
        }
      }
    }
  }
}

.slick-container {
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
}

.slick-overlay {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 780px;
  color: white;
  display: block;

  &-section {
    position: relative;
    overflow: hidden;

    @media (max-width: $medium) {
      .slick-list {
        overflow: inherit;
      }
    }
  }

  &-heading {
    position: absolute;
    z-index: 20;
    width: 50vw;
    height: auto;
    right: -4.25rem;
    top: 0;
    color: white;
    margin: 7rem 0 0 0;

    @media (max-width: $medium) {
      position: relative;
      height: auto;
      right: auto;
      margin: 1rem 0;
      width: auto;
    }

    h5 {
      @include section-heading;
    }
  }

  .slick-slide {
    margin: 0;
    height: 780px;
    display: block;
    width: 100%;
    position: relative;

    @media (max-width: $medium) {
      height: auto;
    }

    &:before {
      content: "";
      background: rgba(black, 0.9);
      position: absolute;
      top: 0;
      display: block;
      right: 0;
      width: 50vw;
      height: 100%;
      z-index: 2;

      @media (max-width: $medium) {
        position: relative;
        width: 100%;
      }
    }
  }

  img {
    width: 100%;
    height: 780px;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;

    @media (max-width: $medium) {
      position: relative;
      height: 350px;
    }
  }

  .content {
    z-index: 2;
    display: block;
    width: 100%;
    position: absolute;
    right: 0;
    top: auto;
    z-index: 10;
    max-width: 45vw;
    margin: 17rem auto 0 0;
    padding: 0;

    @media (max-width: $medium) {
      position: relative;
      margin: 1rem 0 0 0;
      max-width: 100%;
      top: 15rem;
      padding-left: 1rem;
      z-index: 999;
    }

    p {
      line-height: 1.5;
      max-width: 80%;

      @media (max-width: $medium) {
        max-width: 100%;
      }
    }
  }
}

.slick-overlay-nav {
  padding: 0 !important;
  position: absolute !important;
  z-index: 10 !important;
  width: 100% !important;
  max-width: 50vw !important;
  height: 100%;
  right: -3rem;
  top: 0;
  color: white;
  margin-top: 8rem;
  white-space: nowrap;

  @media (max-width: $medium) {
    position: relative !important;
    height: auto;
    right: auto;
    max-width: 100% !important;
    top: -30rem;
  }

  .slick-list {
    margin: 0;

    // padding: 0 18vw 0 0;
    overflow: hidden;
    width: 100%;
    display: flex;
  }

  .slick-track {
    display: flex !important;
    width: 100%;
  }

  .slick-slide {
    display: block;
    padding: 1rem;
    opacity: .5;

    // margin-left: 4rem;

    h2 {
      font-weight: 500;

      @media (max-width: 1400px) {
        font-size: 2.25rem;
      }
    }

    p {
      opacity: 0;
    }

    &.slick-current {
      opacity: 1;

      h2 {
        font-weight: 700;
      }

      p {
        opacity: 1;
      }
    }
  }
}
