.home-hero {
  display: flex;

  // height: 520px;
  // overflow: hidden;

  @media (max-width: $medium) {
    flex-direction: column;
    height: auto;
  }

  &-section {
    height: 520px;
    overflow-y: scroll;

    @media (max-width: $medium) {
      height: auto;
    }
  }

  &-left {
    width: 55%;
    padding-right: 2rem;

    // overflow-y: scroll;
    padding-bottom: 2rem;
    scrollbar-width: auto;
    scrollbar-color: #404040 #ffffff;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background: none;
      position: relative;
    }

    &::-webkit-scrollbar-thumb {
      background-color: none;
      border-radius: 0px;

      // border: 1px solid #333;
   
    }

    @media (max-width: $medium) {
      width: 100%;
      order: 2;
      overflow: inherit;
      padding-right: 0;
    }

    &-logos {
      display: flex;
      align-items: center;
      padding: 2rem 0;

      @media (max-width: $medium) {
        flex-wrap: wrap;
      }

      .logo {
        text-align: center;
        display: block;

        @media (max-width: $medium) {
          width: 45%;
        }

        &:not(:last-child) {
          margin-right: 2rem;

          @media (max-width: $medium) {
            margin: .5rem;
          }
        }
      }
    }
  }

  &-right {
    padding: 2rem 2rem 0 5rem;
    position: relative;
    top: 0;
    width: 45%;

    > div {
      position: -webkit-sticky;
      position: sticky;
      top: 5rem;
    }

    @media (max-width: $medium) {
      width: 100%;
      order: 1;
      text-align: center;
      padding: 2rem 0 0 0;

      p {
        font-size: 32px;
        line-height: normal;
      }
    }

    &:before {
      content: "";
      border-left: 3px solid $black;
      height: 440px;
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;

      @media (max-width: $medium) {
        content: none;
      }
    }

    &:after {
      content: "\f107";
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      font-size: 1.5rem;
      height: auto;
      position: absolute;
      left: -6px;
      top: 458px;
      width: 1rem;

      @media (max-width: $medium) {
        content: none;
      }
    }

    p {
      @extend .h3;
    }

    .button {
      padding: 1.3rem 1.25rem;
    }
  }

  &-resources {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;

    .post {
      display: block;
      max-width: 445px;
      width: 100%;
      padding-bottom: 2.8rem;

      &:hover {
        text-decoration: none;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      h5 {
        padding-bottom: 1.5rem;
      }

      .featured-img {
        height: 250px;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;
      }

      .cta {
        @include cta;
      }
    }
  }
}
