.horizontal-tabs {
  .nav-pills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: $small) {
      flex-direction: column;
    }

    .nav-item {
      flex: 32.666%;
      border: 1px solid #111;
      flex: 1;

      @media (max-width: $xsmall) {
        flex: none;
      }

      &:has(> .nav-link.active) {
        background: #111;
      }

      &-mobile {
        text-align: left;
        height: 0;
        overflow: hidden;
        transition: .3s ease-in-out;

        p {
          padding: 2rem 1rem 1rem 1rem;
        }

        @media (max-width: $xsmall) {
          &.show {
            height: auto;
          }
        }
      }
    }
  }

  .nav-pills .nav-link.active {
    color: white !important;
    background-color: transparent;
    height: 100%;
    border-radius: 0px;
    background: #111;
    border-bottom: 1px solid #111;
  }

  .nav-pills .nav-link {
    border-radius: 0px;
    background: #fff;
    color: #111;
    padding: 2.5rem 0 2rem 0;
    font-size: 1.125rem;
    display: block;
    text-align: center;

    h5 {
      padding: 0;

      &.small {
        font-size: 1rem;
      }
    }

    .svg {
      height: 55px;
      width: 65px;
      object-fit: cover;
      margin-bottom: .85rem;

      path {
        stroke: #111;
        fill: #111;
      }
    }

    &.active {
      .svg {
        path {
          stroke: $white;
          fill: $white;
        }
      }
    }

    &.no-fill {
      .svg {
        path {
          fill: none;
        }
      }
    }
  }

  .tab-content {
    background: #111;
    padding: 5rem 4rem;
    font-size: 1.125rem;
    width: 100%;

    @media (max-width: $xsmall) {
      display: none;
    }

    h6 {
      br {
        display: none;
      }
    }

    p {
      color: $white;
    }
  }
}
