.video-card {
  position: relative;
  max-width: 1110px;
  width: 100%;
  height: 624px;
  margin: 4rem auto;

  @media (max-width: $small) {
    height: auto;
  }

  &.pull-up {
    margin: -12rem auto 2rem auto;

    @media (max-width: $small) {
      margin: 0;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba($black, 0.5);
  }

  .video-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 3;

    .cta {
      text-align: center;
      font-weight: $bolder;
      text-decoration: underline;
      text-underline-offset: 0.65em;
      text-decoration-thickness: 2px;
      color: $white;
    }

    img {
      width: 160px;
      height: 160px;
      margin-bottom: .85rem;

      @media (max-width: $small) {
        height: 100px;
        width: 100px;
      }
    }
  }

  &-content {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 1rem 2rem;

    h6, h2 {
      color: $white;
    }
  }

  &-pause {
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;

    &.show {
      display: flex;
    }
  }
}
